/* $Id$ */
@charset "utf-8";

/*
* BugTracker_Box
* BugTracker_Box_Button
* BugTracker_Box_Form
* BugTracker_Bug_List
*/

/* == BugTracker_Box == */
#bugtracker_box{
	position:fixed;
	z-index:9999; 
	right:0; 
	bottom:5px; 
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

/* == BugTracker_Box_Button == */
#bugtracker_box .box_button{
	float:left;
	cursor:pointer;
	width:30px;
	height:156px;
	background:url(img/bugtracker_box_button.gif) top left no-repeat;
	position:relative;
	z-index:10000;
	

}
#bugtracker_box .box_button.opened{
	background:url(img/bugtracker_box_button_close.gif) top left no-repeat;
}

/* == BugTracker_Box_Form == */
#bugtracker_box .form-item{
	
	margin-top:2px;
	margin-bottom:2px;
	
	}
	
#bugtracker_box .box_form{
	float:left;
	width:280px;
	background:#fff;
	border-left:4px solid #016699; 
	border-top:3px solid #016699; 
	border-bottom:3px solid #016699; 
	border-right:3px solid #016699; 
	padding:15px;
	
	/* css3 */
	-moz-box-shadow: 0 0 3px #000;
	-webkit-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;	
}
#bugtracker_box .box_form .subtitle{
	color:#333;
	font-size:18px;
	margin-bottom:10px;
}
#bugtracker_box .box_form .error{
	font-size:16px;
	color:#F00;	
}
#bugtracker_box .box_form .form-text,
#bugtracker_box .box_form .form-select,
#bugtracker_box .box_form .form-textarea{
	border:1px solid #016699;
}
#bugtracker_box .box_form #edit-title,
#bugtracker_box .box_form #edit-w-name,
#bugtracker_box .box_form #edit-w-email,
#bugtracker_box .box_form .form-textarea{
	width:274px;
}
#bugtracker_box .box_form #edit-priority-fk-wrapper{
	margin-right:20px;	
}
#bugtracker_box .box_form #edit-priority-fk-wrapper,
#bugtracker_box .box_form #edit-type-fk-wrapper{
	display: block;
    float: left;
    width: 129px;
}
#bugtracker_box .box_form #edit-priority-fk,
#bugtracker_box .box_form #edit-type-fk{
	width:129px;	
}
#bugtracker_box .box_form .form-submit{
	background:#016699;
	border:1px solid #01547e;
	color:#fff;
	float:right;
	display:block;
	padding:3px;
	width:70px;
	cursor:pointer;
	

	
}
#bugtracker_box .form-submit{
	margin:0;
}
#bugtracker_box .box_form .footer{
	float:left;
}

/* == BugTracker_Bug_List == */


#bugtracker_bug_list th.active.up{
	background:url(img/arrow-asc.png) left center no-repeat;
	padding-left:15px;
}
#bugtracker_bug_list th.active.down{
	background:url(img/arrow-desc.png) left center no-repeat;
	padding-left:15px;
}

/*== Buglist highlights ==*/
#bugtracker_bug_list tr.priority_5 td.priority_weight{
	background-color:#b3e7ff;
}

#bugtracker_bug_list tr.priority_6 td.priority_weight{
	background-color:#fff9b3;
}

#bugtracker_bug_list tr.priority_7 td.priority_weight{
	background-color:#ffb3b3;
}

#bugtracker_bug_list tr.status_1 td.status_weight{
	background-color:#ffb3b3;
}

#bugtracker_bug_list tr.status_2 td.status_weight{
	background-color:#ccc;
}

#bugtracker_bug_list tr.status_4 td.status_weight{
	background-color:#b7ffb3;
}
	
/* == BugTracker_Single Bug == */
#bugtracker_bug .bugtracker_w_infos{
	margin-top:20px;
	width:60%;
	float:left;
	}
	
#bugtracker_bug .bugtracker_classification_infos{
	margin-top:60px;
	float:left;
	width:40%;
	}

#bugtracker_bug .innerwrap{
	
	border:1px solid #ddd; 
	padding:0 10px 10px 10px;
	}

#bugtracker_bug .bugtracker_w_infos .innerwrap{
	margin-right:20px;
	float:left;
	display:block;
	}

#bugtracker_bug dt,
#bugtracker_bug dl,
#bugtracker_bug dd{
	margin:0;
	text-indent:0;
	padding:0;
	margin:0;
	}
#bugtracker_bug #bugtracker_bug_data dl{
	margin:10px 0;
	float:left;
	}
	
#bugtracker_bug #bugtracker_bug_data dt{
	font-weight:bold;
	float:left;
	clear:both;
	margin-right:5px;
	}
	
#bugtracker_bug #bugtracker_bug_data dd{
	margin:0px 3px 4px 0px;
	}

#bugtracker_bug #bugtracker_bug_description {
	clear:both;
	padding-top:20px;
	}


#bugtracker_bug #bugtracker_bug_description h4{
	clear:both;
	margin:0;
	}



#bugtracker_bug h4{
	margin:20px 0 0;
	
	}

#bugtracker_bug h4.openable{
	cursor:pointer;
	padding-left:20px;
	}
	
#bugtracker_bug h4.openable{
	background:url(img/arrow-asc.png) left center no-repeat;	
	}
	
#bugtracker_bug h4.openable.closed{
	background:url(img/arrow-side.png) left center no-repeat;	
	}


#bugtracker_bug .bugtracker_comment,
#bugtracker_bug .bugtracker_log{
	background-color:#eee;
	margin-top:10px;
	
	/* css3 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	
	}

#bugtracker_bug .bugtracker_comment.bt_ie7,
#bugtracker_bug .bugtracker_log.bt_ie7{
	padding:1px;
	}

#bugtracker_bug .bugtracker_comment:hover,
#bugtracker_bug .bugtracker_log:hover{
	/* css3 */
	-moz-box-shadow: -1px 2px 2px #ccc;
	-webkit-box-shadow: -1px 2px 2px #ccc;
	box-shadow: -1px 2px 2px #ccc;
	

	}
	
	
#bugtracker_bug .bugtracker_comment .metadata,
#bugtracker_bug .bugtracker_log .metadata{
	float:left;
	padding:1px 6px;
	background-color:#999;
	color:#fff;
	
	/* css3 */
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;

	}



#bugtracker_bug .bugtracker_comment .metadata .author{
	font-weight:bold;
	}
	
#bugtracker_bug .bugtracker_comment .delete{
	display:block;
	float:right;
	padding:5px 10px;
	}

#bugtracker_bug .bugtracker_comment p,
#bugtracker_bug .bugtracker_log .items{
	clear:both;
	padding:10px;
	margin:0;}
	
#bugtracker_bug .bugtracker_log .items .item{
	clear:both;
	margin-bottom:3px;
	}

#bugtracker_bug .bugtracker_log .item .log_field{
	color:#000;
	}

#bugtracker_bug .bugtracker_log .item .log_old{
	color:#000;
	background-color:#f99;
	padding:3px;
	}
	
#bugtracker_bug .bugtracker_log .item .log_new{
	color:#000;
	background-color:#9f9;
	padding:3px;
	}


